@page {
  size: A4;
  margin: 16mm 24mm;
}

@media print {
  body {
    margin: 0;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  img {
    float: right;
    width: 250px;
    height: 250px;
    object-position: center -56px;
  }

  .skills {
    display: none;
  }

  .education {
    break-before: page;
  }

  .project:nth-child(n + 8) {
    margin-bottom: 16px;
  }

  .project:nth-child(n + 8) .project__description,
  .project:nth-child(n + 8) .project__responsibilities {
    display: none;
  }

  .project:nth-child(n + 8) h3,
  .project:nth-child(n + 8) time {
    font-size: 16px;
  }

  .project:nth-child(n + 8) h3 {
    display: inline;
  }

  .project:nth-child(n + 8) .project__role {
    display: inline;
    color: #444;
    font-size: 0.8em;
  }

  .project:nth-child(n + 8) .project__role::before {
    content: ' as ';
  }
}
